# Ignore virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store

# Ignore environment config
.env
